.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 1rem;
    align-self: center;
}

.submitButton {
    margin-top: 1rem;
    align-self: center;
}
